@charset "UTF-8";
h3{
    font-family: "Aguafina Script", cursive;
    text-align: left;
    font-size: 16pt;
}
hgroup#text h4{
    font-family: "Aguafina Script", cursive;;
}
hgroup#text p{
    text-align: justify;
    font-size: 16pt;
    margin: 10px;
}
figure img{
    height: 480px;
    width: 350px;
    margin-left: 250px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
